<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.ReadPick.dao.MyPageMapper">

    <resultMap id="UserPickMap" type="com.portfolio.ReadPick.vo.BmVo">
        <id property="bmIdx" column="bmIdx" />
        <result property="bmName" column="bmName" />
        <collection property="bsList" ofType="com.portfolio.ReadPick.vo.BsVo">
            <id property="bsIdx" column="bsIdx" />
            <result property="bsName" column="bsName" />
            <result property="bmIdx" column="bmIdx"/>
            <collection property="bssList" ofType="com.portfolio.ReadPick.vo.BssVo">
                <id property="bssIdx" column="bssIdx" />
                <result property="bsIdx" column="bsIdx" />
                <result property="bssName" column="bssName" />
            </collection>
        </collection>
    </resultMap>

    <!-- insert -->

    <!-- /insert -->


    <!-- select -->
    <select id="bookmarkList" parameterType="bookmark" resultType="bookmark"> select * from
        bookmark where userIdx = #{userIdx} and isBookmarked = #{isBookmarked} order by bookmarkAt desc; </select>

    <select id="bookmarkImageList" resultType="bookImage" parameterType="int">
        select * from bookImage where bookIdx = #{bookIdx} 
    </select>

    <select id="myPickGenre" resultMap="UserPickMap" parameterType="int">
        select distinct  * from fullCategoryView where bssIdx in (select bssIdx from userPick where userIdx = #{userIdx}) order by bmIdx asc;
    </select>

    <!-- /select -->


    <!-- update -->


    <update id="userInfoModify" parameterType="user"> update users set userName = #{userName},
        nickName = #{nickName}, id = #{id}, pw = #{pw}, email = #{email} where userIdx = #{userIdx} </update>

    <!-- /update -->


    <!-- delete -->

    <!-- /delete -->


</mapper>